.price-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 80px;
  gap: 50px;
  position: relative;
  padding-bottom: 500px;
  /* height: 0; */
  max-width: 100%;
}

.coursePrice-btn {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--blue-color);
  text-align: center;
}

.iframe {
  position: absolute;
  top: 100px;
  border: none;
  width: 100%;
  height: 100%;
}
